
@tailwind base;
@tailwind components;
@tailwind utilities;

.rubik-font {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.review-card {
  background-color: #ffffff;
  color: #000000;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.review-card img {
  border-radius: 50%;
}
.rating {
  color: #FFD700;
}